.vis-item {
  color: white;
}

.vis-item.policy0 {
  background-color: #1abc9c;
}

.vis-item.policy1 {
  background-color: #3498db;
}

.vis-item.policy2 {
  background-color: #2ecc71;
}

.vis-item.policy3 {
  background-color: #9b59b6;
}

.vis-item.policy4 {
  background-color: #34495e;
}

.vis-item.policy5 {
  background-color: #f1c40f;
}

.vis-item.policy6 {
  background-color: #e67e22;
}

.vis-item.policy7 {
  background-color: #e74c3c;
}

.vis-item.policy8 {
  background-color: #2980b9;
}

.vis-item.policy9 {
  background-color: #27ae60;
}

.vis-item.vis-selected {
  font-weight: bold;
  font-size: 17px;
  border-color: #fff;
}

.drivers-table {
  font-size: 14px;
}


.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}